*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    scrollbar-width: none;
}

/* NavBar */
.navBar{
    position: fixed;
    top: 0;
    left: 0; 

    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    background-color: #fff;

    z-index: 2;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}

.navBar .left{
    padding-left: 110px;
}

.navBar .left .menuButton{
    display: none;
}

.navBar .left:hover{
    cursor: pointer;
}

.navBar .mid{
    display: flex;
    font-size: 14.5px;
    font-weight: 500;
    margin-left: 40px;
    padding: 0 110px 0 110px;
}

.navBar .mid span{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 37.5px;
}

.navBar .mid span:hover{
    color: #ee3425;
    cursor: pointer;
}

.navBar .right{
    display: flex;
    flex-direction: row;
    justify-content: end;

    margin: 14px 110px 14px 0;
    padding-left: 40px;
}

.navBar .right span{
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 500;
}

.navBar .right button{
    height: 36px;
    min-width: 72px;
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid #ee3425;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #ee3425;
}

.navBar .right span, .navBar .right button:hover{
    cursor: pointer;
}

/* Home Page Banner */
.header{
    position: relative;
    height: 450px;
    width: 100%;
    background-size: 1536px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp');
    padding-top: 57px;
    margin-top: -57px;

    background-color: #fbdc00;
}

.header span{
    width: 1168px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
    padding: 57px 16px 0 16px;
}

.header .left h1{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.header .left p{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 400px;
}

.header .left div{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
}

.header .left .whatsappInput{
    position: relative;
}

.header .left .whatsappInput svg{
    position: absolute;
    top: 8.5px;
    left: 10px;
    z-index: 1;
}

.header .left .whatsappInput select{
    position: absolute;
    top: 8px;
    left: 35px;
    z-index: 1;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    background-color: #fff;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 14" width="1em" height="1em" role="img" style="transform: rotate3d(0, 0, 1, 0deg);"><path class="ic-m-arrow_rotate_down_svg__ic_m_arrow_rotate_down" d="M1.989 4.052a.55.55 0 0 0-.286.449c0 .199-.084.109 2.518 2.716 1.488 1.492 2.501 2.489 2.557 2.519a.516.516 0 0 0 .444 0c.056-.03 1.069-1.027 2.557-2.519 2.606-2.612 2.518-2.516 2.518-2.719a.536.536 0 0 0-.285-.44c-.085-.044-.211-.045-5.017-.044-4.47 0-4.937.004-5.006.038" fill-rule="evenodd"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 3px top 5px, 0 0;
    background-size: 12px auto, 100%;
}

.header .left .whatsappInput input{
    position: absolute;
    top: 0;
    left: 0;

    height: 37px;
    width: 140px;
    border: 0;
    border-radius: 20px;
    padding: 0 97.5px 0 100px;
}

.header .left .whatsappInput button{
    font-family: 'PT Sans', sans-serif;
    height: 24px;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    background-color: #36bb22;
    color: white;

    position: absolute;
    top: 6.5px;
    left: 240px;
    z-index: 1;
}

.header .left .whatsappInput select, .header .left .whatsappInput button:hover{
    cursor: pointer;
}

.header .right video{
    padding-top: 42px;
    width: 550px;
}

.header .right .desktop{
    display: block;
}

.header .right .mobile{
    display: none;
}

/* InfoBar */
.infoBar{
    display: block;
    margin: 0 auto;
    padding: 16px;
    width: 1168px;
}

.infoBar span{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}

/* Tagline */
.tagline{
    background-color: #fffef2;
}

.tagline .boxCurve1 {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 18px;
    border-bottom-right-radius: 100% 150%;
    border-bottom-left-radius: 100% 150%;
    background-color: #fff;
}

.tagline span{
    width: 1168px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

.tagline span .left, .tagline span .right{
    flex: 1;
}

.tagline span .right{
    display: flex;
    justify-content: end;
}

.tagline span .left h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.tagline span .left .info{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/* Our Products */
.ourProducts{
    background-color: #fffef2;
}

.ourProducts span{
    width: 1168px;
    padding: 16px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProducts h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1em;
    line-height: 1.2;
}

.ourProducts .product{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 14px 0 14px 0;
}

.ourProducts .product .left{
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    margin: 0 50px 1em 0;
}

.ourProducts .product .right{
    display: flex;
    flex-wrap: wrap;
}

/* Trusted Partners */
.trustedPartners{
    font-size: 28px;
    line-height: 1.2;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 3.5em 0;
}

.trustedPartners h3{
    margin-bottom: 1em;
}

.trustedPartners div{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;

    animation: trustedPartener 2.5s infinite linear;
}

.trustedPartners div img{
    width: 146px;
    margin: 0 40px;
}

@keyframes trustedPartener {
    0% { transform: translateX(0); }
    100% { transform: translateX(-250px); }
}

/* Ready to take your Supply Chain to the Next Level */
.nextLevel{
    background-color: #fbdc00;
}

.nextLevel span{
    width: 1168px;
    margin: 0 auto;
    padding: 16px;
    height: 94px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nextLevel h3{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;

    padding: 10px 0;
    margin-bottom: 10px;
}

.nextLevel button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    padding: 4px 16px;
    width: 125px;
    min-width: 125px;
    height: 36px;
    background-color: #ee3425;
    color: #fff;
    border: 0;
    border-radius: 4px;
}


.nextLevel button:hover{
    cursor: pointer;
}

/* Industries Served */
.industriesServed{
    background-color: #fffef3;
    padding: 16px;
}

.industriesServed span{
    width: 1168px;
    min-height: 243px;
    /* height: 275px; */

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.industriesServed span .top p{
    font-size: 28px;
    font-weight: 700;
}

.industriesServed span .bottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.industriesServed span .bottom div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.industriesServed span .bottom img{
    width: 100px;
    max-height: 100px;
}

.industriesServed span .bottom p{
    font-size: 16px;
    font-weight: 700;
}

.industriesServed span .bottom .industriesServedSpecialCase{
    width: 88px;
}

/* Get Started Today */
.getStartedToday{
    background-color: #fff;
}

.getStartedToday span{
    width: 1000px;
    height: 392px;

    padding: 16px 100px;
    margin: 50px auto 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getStartedToday span h2{
    width: 500px;
    font-size: 40px;
    font-weight: 700;
}

.getStartedToday span p{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    line-height: 1.2;
}

.getStartedToday span img{
    width: 280px;
    animation: getStartedTodayY 2s infinite  alternate-reverse;
}

.getStartedToday span button{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 12.5px 42px;
    background-color: #ee3425;
    color: #fff;
    border: 0;
    border-radius: 8px;
}

.getStartedToday span button:hover{
    cursor: pointer;
}

@keyframes getStartedTodayY {
    0% { transform: translateY(10); }
    100% { transform: translateY(-10px); }
}

/* Display Video */
.displayVideo{
    display: flex;
    justify-content: center;
}

.displayVideo img{
    height: 450px;
}

.displayVideo img:hover{
    cursor: pointer;
}


/* Grow Faster */
.growFaster{
    background-color: #ee3425;
}

.growFaster span{
    width: 1168px;
    height: 135px;

    padding: 16px;
    margin: 0 auto;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.growFaster span div h3{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.growFaster span div p{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.growFaster span button{
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

    font-size: 14px;
    font-weight: 700;
    padding: 4px 16px;
    background-color: #fbdc00;
    color: #000;
    border: 0;
    border-radius: 4px;

    min-width: 72px;
    height: 36px;
}

.growFaster span button:hover{
    cursor: pointer;
}

/* Blog Cards */
.blog .container{
    width: 1168px;

    padding: 16px;
    margin: 50px auto 0 auto;

    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 0 auto;
}

.blog .container h3{
    font-size: 28px;
}

.blog .container .tray{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.blog .container button{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 42px;
    background-color: #ee3425;
    color: #fff;
    border: 0;
    border-radius: 3px;

    min-width: 72px;
    height: 35px;
}

.blog .container button:hover{
    cursor: pointer;
}

/* Footer */
.footer{
    background-color: #fbdc00;
}

.boxCurve {
    position: relative;
    width: 1536px;
    height: 100px;
    border-radius: 0 0 50% 50%;
    background-color: #fff;
}

.footer .subscribe img{
    padding: 50px 25px;
    margin: 20px;
}

.footer .subscribe{
    width: 1536px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 15px 0 15px 0;
}

.footer .subscribe h3{
    font-size: 28px;
    line-height: 30px;
}

.footer .subscribe p{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

.footer .subscribe input{
    width: 230px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;

    padding-left: 10px;
}

.footer .subscribe button{
    width: 120px;
    height: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    background-color: #ee3425;
    color: #fff;
    font-weight: 700;
}

.footer .subscribe button span{
    display: flex;
    justify-content: space-evenly;

    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.footer .subscribe button:hover{
    cursor: pointer;
}

.footerInfo1{
    width: 1436px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
}

.footerInfo2{
    width: 100%;
}

.footerInfo2 button{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 41px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    margin-top: 16px;
    background-color: #fbdc00;
    border: 0;
    border-bottom: 0.8px rgba(0,0,0,.50) solid;
}

.footerInfo2 button:hover{
    cursor: pointer;
}

/* Ports */
.ports{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ebbe00;
}

.ports .top{
    width: 1436px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.ports .top div{
    display: flex;
    flex-direction: column;
}

.ports .top div a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    line-height: 2rem;
}

.ports .top div a:hover{
    color: #ee3425;
    cursor: pointer;
    text-decoration: underline;
}

.ports .bottom{
    height: 42px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 35px;
}

.ports .bottom .left a:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

.ports .bottom span{
    padding-right: 40px;
}  

.ports .bottom .right{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ports .bottom .right .language{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    font-size: 15px;
    text-decoration: underline;
    color: #ee3425;
}

.ports .bottom .right .social{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px;
}

.ports .bottom .right img{
    width: 20px;
}

.ports .bottom .copyright{
    display: none;
}

.ports .bottom .right .language, .ports .bottom .right svg{
    cursor: pointer;
}

@media(max-width: 750px){
    /* header */
    .header{
        height: 620px;
    }
    .header span{
        width: 98%;
        height: 520px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: -16px 0 0 0;

    }

    .header span .right video{
        width: 95%;
        max-height: 400px;
    }

    .header span .left, .header span .right{
        width: 95%;
    }

    .header .left h1{
        font-size: 24px;
    }

    .header span .left p{
        max-width: 750px;
    }

    .header .right video{
        padding-top: 0px;
    }

    .header .right .desktop{
        display: none;
    }
    
    .header .right .mobile{
        display: block;
    }    

    .navBar .left{
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 16px;
        padding-left: 0;
    }
    .navBar .left .menuButton{
        display: block;
    }
    .navBar .mid, .navBar .right{
        display: none;
    }

    /* InfoBar */
    .infoBar{
        justify-content: center;
        width: auto;
    }
    .infoBar span{
        max-width: 580px;
        padding: 0;
    }

    /* Tagline */
    .tagline .boxCurve1{
        width: 100%;
        height: 56px;
    }
    .tagline span{
        width: 93%;
        flex-direction: column-reverse;
    }
    .tagline span .right img{
        width: 320px;
    }
    .tagline span .left h2{
        font-size: 24px;
        line-height: 1.2;
    }

    /* Our Products */
    .ourProducts span{
        width: 95%;
        align-items: start;
    }
    .ourProducts h3{
        font-size: 20px;
        line-height: 1.2;
        margin: 0;
    }
    .ourProducts .product .left{
        font-size: 16px;
    }
    .ourProducts .product{
        flex-direction: column;
        align-items: start;
    }
    .ourProducts .product .right{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    /* Next Level */
    .nextLevel span{
        width: 92.5%;
        height: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }

    .nextLevel h3{
        font-size: 20px;
    }

    .nextLevel p{
        font-size: 13px;
    }

    .industriesServed span{
        width: 95%;
    }

    .getStartedToday span{
        max-width: 495px;
        width: 95%;
        height: 100%;
        padding: 50px 16px 25px 16px;
        flex-direction: column-reverse;
    }

    .getStartedToday span div{
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    .getStartedToday span div h2{
        font-size: 24px;
    }

    .getStartedToday span div p{
        font-size: 16px;
    }

    .growFaster span{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .growFaster span div{
        margin-bottom: 16px;
    }

    .growFaster span div h3{
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .blog .container{
        width: 100%;
        height: 100%;
    }

    .blog .container .tray{
        flex-direction: column;
        justify-content: space-around;
        width: 92.5%;
        height: 1380px;

        margin-left: -25px;
    }
    .footer .boxCurve{
        width: 100%;
    }
    .footer .subscribe{
        width: 100%;
        height: 128px;
    }
    .footer .subscribe img{
        display: none;
    }
    .footer .subscribe h3{
        font-size: 20px;
        line-height: 1.2;
    }
    .footer .subscribe div{
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .subscribe input{
        width: 163px;
    }
    .footerInfo1{
        display: none;
    }
    .footerInfo2 button{
        display: flex;
    }
    .ports .bottom{
        flex-direction: column;
        align-items: start;
        margin: 10px 0 40px 0;
        padding: 8px 16px;
    }
    .ports .bottom .copyright{
        display: flex;
        font-size: 12px;
        font-weight: 400;
    }
    .ports .top, .ports .bottom .left{
        display: none;
    }
    .ports .bottom .right{
        flex-direction: row-reverse;
        justify-content: start;
    }
    .ports .bottom .right .social{
        justify-content: space-evenly;
        padding: 0;
    }
    .ports .bottom .right .language{
        font-size: 15px;
        width: 105px;
    }
}

